---
- name: Restart kibana
  ansible.builtin.systemd:
    name: kibana
    state: restarted
    daemon_reload: true

- name: Reload kibana
  ansible.builtin.systemd:
    name: kibana
    state: reloaded
    daemon_reload: true

...
